<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= subreddit %> not found</title>
  </head>
  <style>
    * {
      background-color: brown;
      color: white;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  </style>
  <body>
    <h1>404 not found kindly check url</h1>
    <h2>correct route as <%= subreddit %> is not accesible</h2>
  </body>
</html>
